*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Times New Roman', Times, serif;
}

.about {
  border: 2px solid black;
  padding: 25px;
  background: url(img/about.png) no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.about-content {
  color: white;
  max-width: 600px;
  margin: 70px 0 100px 100px;
}

.about-content h1 {
  font-size: 40px;
  font-weight: normal;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}

.about-content p {
 font-size: 20px;
 margin-bottom: 12px;
 line-height: 1.4;
}

@media(max-width:700px){
  .about{
    padding: 20px;
    text-align: left;
  }
  .about-content{
    margin-left: 0;
    max-width: 100%;
  }
  .about-content h1 {
    font-size: 32px;
  }
  .about-content p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .about {
    padding: 15px;
  }
  .about-content h1 {
    font-size: 26px;
  }
  .about-content p {
    font-size: 16px;
  }
}

