
.section-heading {
    text-align: center;
    margin: 40px 0 10px;
    font-family: "Times New Roman", Times, serif;
}

.section-heading h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #222;
}

.section-heading h3 {
    font-size: 1rem;
    color: black;
    margin-bottom: 25px;
    font-weight: normal;
}

.sortby {
    padding-bottom : 15px;
    text-align: center;
    border-bottom: 1px solid black;
}

.sortby a {
    margin: 0 15px;
    text-decoration: none;
    /*list-style-type: disc;*/
    display: inline;
    justify-content: center;
    gap: 80px;
    color: black;
    transition: 0.3s;
   
}
/* Image Grid */
.image-grid {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;      /* 30px reduced → better spacing */
    max-width: 1300px;
    margin: 0 auto;
    column-gap: 40px;
}

.image-grid .image-card:nth-child(6){
    grid-column-start: 2;
}
.image-card {
    background: #fff;
    overflow: hidden;
}

.image-card img {
    width: 100%;
    height: 245px;   /* Fixed height → no extra space in rows */
    object-fit: cover;
    display: block;  /* Remove inline-image bottom gap */
    margin-bottom: 10px;
}

.image-card p {
    margin: 0 0 20px 0; /* remove bottom extra space */
    font-family: 'Times New Roman', Times, serif;
}

/* Responsive Breakpoints */
@media (max-width: 900px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .image-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .image-card img {
        height: 200px; /* better on mobile */
        width: 100%;
        object-fit: cover;
    }
}
