
.section-heading {
    text-align: center;
    margin: 40px 0 10px;
    font-family: "Times New Roman", Times, serif;
}

.section-heading h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #222;
}

.section-heading h3 {
    font-size: 1rem;
    color: black;
    margin-bottom: 25px;
    font-weight: normal;
}

.sortby {
    padding-bottom : 15px;
    text-align: center;
    border-bottom: 1px solid black;
}

.sortby a {
    margin: 0 15px;
    text-decoration: none;
    display: inline;
    justify-content: center;
    gap: 80px;
    color: black;
    transition: 0.3s;
   
}
/* Image Grid */
.image-grid {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;  
    max-width: 1300px;
    margin: 0 auto;
    column-gap: 40px;
}

.image-grid .image-card:nth-child(6){
    grid-column-start: 2;
}
.image-card {
    background: #fff;
    overflow: hidden;
}

.image-card img {
    width: 100%;
    height: 245px;  
    object-fit: cover;
    display: block; 
    margin-bottom: 10px;
}

.image-card p {
    margin: 0 0 20px 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Responsive  */
@media (max-width: 1000px) {
    .image-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .image-grid .image-card:nth-child(6){
        grid-column: 1;
    }
}

@media (max-width: 600px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .image-grid .image-card:nth-child(6),
    .image-grid.image-card:nth-child(7),
    .image-grid.image-card:nth-child(8){
        grid-column: auto;
        justify-self: stretch;
    }

    .image-card img{
        width: 100%;
        height: auto;
    }
   
}