* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  pointer-events: auto;
}
/*navbar*/
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #fff;
  z-index: 10;
  position: fixed;
  border-bottom: 1px solid black;
}
.nav-left, .nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 14px;
}
.nav-left i {
  color: black;
  cursor: pointer;
}
.menu {
  list-style: none;
  display: flex;
  gap: 35px;
}
.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
}
.logo {
  font-size: 18px;
  Letter-spacing: 7px;
}
.search-box {
  position: relative;
  }
.search-box input {
  padding: 6px 30px 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-box i {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  cursor: pointer;
}
.nav-right i {
  font-size: 15px;
  cursor: pointer;
}

/* Responsive design */
@media (max-width: 900px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
  }

  .nav-left, .nav-right {
    flex: 1 1 100%;
    justify-content: center;
  }

  .menu {
    gap: 20px;
  }
}



/*------------------------ Hero section -----------------------------*/
.hero {
  width: 100%;
  height: 90vh;
  background-image: url('img/hero.png'); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 12%;
  color: white;
  position: relative;
}
.hero-content {
  color: white;
  max-width: 600px;
}
.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: normal;
}
.hero-content p {
 font-size: 1rem;
 color: white;
 margin-bottom: 30px;
}
.shop-btn {
  background-color: transparent;
  color: white;
  padding: 12px 25px;
  border: solid 1px white;
  cursor: pointer;
  font-size: 12px;
}
/* Responsive design */
@media (max-width: 900px) {
  .hero {
    padding-left: 40px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }
}



.section-heading {
  text-align: center;
  margin: 40px 0 10px;
}
.section-heading h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #222;
  font-family: 'Times New Roman', Times, serif;
}
.section-heading h3 {
  font-size: 1rem;
  color:black;
  margin-bottom: 25px;
}

/* Image Grid */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 5px;
  padding: 10px;
  max-width: 1300px;
  margin: 0 auto;
}
.image-card {
  background: #fff;
  overflow: hidden;
  text-align: center;
}
.image-card img {
  width: 80%;
  height: 250px;
  object-fit: cover;
}
.image-card p {
  padding: 20px 0;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

 /* ------------------- Main one section ----------------------------------*/
.one-section {
  display: flex;
  width: 100%;
  height: 60vh; /*viewport height */
  overflow: hidden; 
}
.image-side {
  width: 20%;
}
.image-side img {
  width: 100%;
  height: 100%; 
}
.info-side {
  width: 80%;
  background-color: black;
  color: white;
  padding:  30px 100px;
  display: flex;
  flex-direction: column;
}
.info-side h4 {
 font-size: 10px;
 margin-bottom: 4rem;
}
.info-side h2 {
 font-size: 20px;
 margin-bottom: 2rem;
}
.info-side p {
  margin-bottom: 3rem;
  line-height: 1.3;
  max-width: 700px; 
}
.show-more {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 8px;
  cursor: pointer;
  max-width: 100px;
}

/* Responsive design */
@media (max-width: 768px) {
  .one-section {
    flex-direction: column;
    height: auto;
  }

  .image-side,
  .info-side {
    width: 100%;
    height: auto;
  }

  .image-side img {
    height: 250px;
  }
}
/* ------------------- Main two section ----------------------------------*/
.two-section {
  display: flex;
  width: 100%;
  height: 50vh; /*viewport height */
  overflow: hidden; 
  margin: 40px 0 10px;
}
.image-sideone {
  width: 35%;
}
.image-sideone img {
  width: 100%;
  height: 100%; 
}
.info-sideone {
  width: 65%;
  background-color: silver;
  color: black;
  padding:  5rem;
  display: flex;
  flex-direction: column;
}
.info-sideone h2 {
 font-size: 20px;
 margin-bottom: 2rem;
}
.info-sideone p {
  margin-bottom: 3rem;
  line-height: 1.3;
  max-width: 500px; 
}
.show-moreone {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding: 10px;
  cursor: pointer;
  max-width: 100px;
  white-space: nowrap;
}

/* Responsive design */
@media (max-width: 768px) {
  .two-section {
    flex-direction: column;
    height: auto;
  }

  .image-sideone,
  .info-sideone {
    width: 100%;
    height: auto;
  }

  .image-sideone img {
    height: 250px;
  }
}

 /* ------------------- Main three section ----------------------------------*/
.three-section {
  display: flex;
  width: 100%;
  height: 70vh; /*viewport height */
  overflow: hidden; 
  margin: 40px 0 10px;
}
.image-sidetwo {
  width: 30%;
}
.image-sidetwo img {
  width: 100%;
  height: 100%; 
}
.info-sidetwo {
  width: 70%;
  background-color: black;
  color: white;
  padding:  6rem;
  display: flex;
  flex-direction: column;
}
.info-sidetwo h2 {
 font-size: 20px;
 margin-bottom: 2rem;
}
.info-sidetwo p {
  margin-bottom: 3rem;
  line-height: 1.3;
  max-width: 600px; 
}
.show-moretwo {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 0;
  cursor: pointer;
  padding: 15px;
  text-decoration: none;
}

/* Responsive design */
@media (max-width: 768px) {
  .three-section {
    flex-direction: column;
    height: auto;
  }

  .image-sidetwo,
  .info-sidetwo {
    width: 100%;
    height: auto;
  }

  .image-sidetwo img {
    height: 250px;
  }
}
/*footer*/
.footer {
  position: absolute;
  width: 100%;
  background: silver;
  border: 1px white;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 6px;
  padding: 40px;
}

.footer-row .footer-col h4 {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.footer-col .links {
  margin-top: 30px;
  font-size: 13px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 15px;
}

.footer-col .links li a {
  text-decoration: none;
  color: black;
}


.footer-col p {
  margin: 30px 0;
  color: black;
  max-width: 300px;
  font-size: 14px;
}

.footer-col form {
  display: flex;
  gap: 6px;
}

.footer-col input {
  height: 40px;
  background: white;
  width: 100%;
  outline: none;
  border: 1px solid white ;
  color: black;
  padding-left: 20px;
}

.footer-col input::placeholder {
  color: black;
}

/*.footer-col form button:hover {
  background: #cecccc;
}*/

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 55px;
  cursor: pointer;
}

.footer-col .icons i {
  color: black;
}

.footer-col .icons i:hover  {
  color: #fff;
}

.footer-bottom {
  padding-bottom : 40px;
  text-align: center;
}

.footer-bottom a {
  margin: 0 15px;
  text-decoration: none;
/*list-style-type: disc;*/
  display: inline;
  justify-content: center;
  gap: 80px;
  color: black;
  transition: 0.3s;  
}
@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 2rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}